<div class="search-form">
    <form>
        <div class="mt-4">
            <label for="search-input">Your key words:</label>
            <input type="text" class="form-control" id="search-input" placeholder="Enter the key word">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>